/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  padding-block-start: 102px;

  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--font-weight);
  background-color: var(--main-background-color, white);
  color: var(--color-accent);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  max-width: 696px;
  margin-inline: auto;

  background-color: var(--main-background-color);
  font-family: var(--accent-font), sans-serif;
  border: 2px var(--color-accent) solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.header__title {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 20px;
  margin-block-end: 25px;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;

  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 0px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;

  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  margin-inline: auto;
  max-width: 696px;
  display: flex;
  flex-direction: column;
}

.cards__list {
  display: flex;
  flex-direction: column;
}

.list__item {
  width: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-accent);
  background: var(--main-background-color);
}

.card__title {
  padding-inline-start: 10px;
  border-bottom: 2px solid var(--color-accent);

  font-variation-settings: "wght" var(--font-weight-title, 700);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card__image-container {
  position: relative;
}

.card__image-text {
  position: absolute;
  right: 25px;
  top: 25px;

  font-family: var(--accent-font, "Inter"), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--main-text-color, #000);

  opacity: 0.5;
  text-shadow: 0 0 1px var(--background-color, #fff);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
  }
}

.card__image-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.card__feedback {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px 25px 25px;
  gap: 12px;
}

.card__heart-button {
  background: none;
  border: 2px solid transparent;
  padding: 0;
}

.base-button {
  position: relative;

  border: 2px solid var(--button-text-color, #000);
  background-color: var(--main-background-color, #fff);
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-size: 14px;
  align-items: center;
  line-height: 90%; /* 12.6px */
  font-variation-settings: "wght" var(--text-font-weight, 400);
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.3s ease;
  padding: 9px 17px;
}

.card__like-button {
  width: 130px;
}

.button__text {
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.base-button:focus {
  outline: 0;
}

.base-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-text-color, #000);
}

.base-button::before {
  width: 100%;
  height: 100%;
  position: absolute;

  content: "";
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
  background-color: var(--button-text-color, #000);
  transition: transform 0.5s ease-in-out;
}

.base-button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--main-text-color, #000);
}

.button__save {
  display: flex;
  margin-block-start: 52px;
  margin-block-end: 103px;
  padding: 15px 20px;
  width: fit-content;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button__icon {
  width: 21px;
  height: 21px;

  mix-blend-mode: difference;
  color: var(--button-text-color, #fff);
}

.dialog {
  max-width: 357px;
  padding: 31px 31.5px;

  color: var(--main-text-color, #000);
  font-family: var(--accent-font, "PressStart2P", fantasy);
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  background: var(--background-color, #fff);
}

.dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.floppy__open {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  align-content: center;
}

.dialog::backdrop {
  opacity: 75%;
  background: var(--black, #000);
}

.dialog__button {
  width: 100%;
}

/* filters section start */
.filter-brightness {
  filter: brightness(135%);
}

.filter-kek {
  filter: brightness(68%) saturate(0%) contrast(184%);
}

.filter-sepia {
  filter: sepia(30%);
}

.filter-hue {
  filter: hue-rotate(115deg);
}

.filter-saturation {
  filter: saturate(300%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-blur {
  filter: blur(20px);
}
/* filters section end */

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 32px 42px;
    max-width: 341px;
  }
}